.img2{
   height: 500px;
   width: 300px;
   border-radius: 10px;
}

.detailcon{
    height: 540px;
    width: 340px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px black;
}

.detailp{
    padding: 30px 100px;
}

@media (max-width: 768px) {
    .img2{
        height: 400px;
        width: 200px;
      
     }
     .detailcon{
        height: 450px;
        width: 300px;
         /* border: 2px solid greenyellow; */
    }
    .detailp{
        padding: 10px;
    }
  }